.f-12 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.845em;
  line-height: 120%;
}

.f-16 {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
}

.f-32 {
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1rem, 5vw, 2rem);
  line-height: 120%;
}

.f-96 {
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 120%;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(42px, 5vw, 96px);
  line-height: 120%;
  letter-spacing: 0.15em;
}
